<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mg.etech.mobile.etechapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WAKE_LOCK" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".commun.customapplication.CustomApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.activities.splash.SplashActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activities.login.LoginActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".presentation.activities.main.MainActivity_"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".presentation.activities.inscription.InscriptionActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="mg.etech.mobile.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".presentation.activities.employe.detailemploye.DetailEmployeActivity_"
            android:label="@string/detail_employe_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activities.main.MainActivity_" />
        </activity>
        <activity android:name=".presentation.activities.employe.createEmloye.CreateEmployeActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activities.main.MainActivity_" />
        </activity>
        <activity android:name=".presentation.activities.employe.updateEmploye.UpdateEmployeActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activities.main.MainActivity_" />
        </activity>
        <activity android:name=".presentation.activities.employe.updateEmploye.UpdateEmployeTempActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activities.main.MainActivity_" />
        </activity>
        <activity android:name=".presentation.activities.test.TestAnimationActivity_" />
        <activity android:name=".presentation.activities.error.ErrorActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            ></activity>
    </application>

</manifest>